body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 50px 140px;
}

.top-banner {
    background-color: #044040;
    border-radius: 30px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-container {
    display: flex;
    align-items: center;
}

.box {
    padding-left: 100px;
    padding-bottom: 50px;
}

.box>h1 {
    font-size: 40px;
}

.ellipsis {
    display: none;
}

.red-button {
    background-color: #8C1F28;
    padding: 10px 30px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-info {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 250px 3fr;
}

.parent-div-1 {
    display: flex;
    height: 210px;
}

.fixed-size {
    background-color: #044040;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
    row-gap: 10px;
}

.nav-btn {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 700;
    background-color: white;
    padding: 15px 15px;
    border-radius: 5px;
}

.highlighted-btn {
    background-color: #8C1F28;
    border: 2px solid #000000;
    color: white;
    cursor: pointer;
}

.parent-div-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.cards {
    border: 2px solid black;
    border-radius: 10px;
}

.cards>img {
    width: 100%;
    height: auto;
}

.card-details {
    padding-left: 20px;
}

.card-btn {
    background-color: #8C1F28;
    border: 2px solid #000000;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.icon {
    margin-right: 15px;
}

/* upcoming match-card style */
.match-cards {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.match-cards>img {
    width: 35%;
    height: auto;
}

.match-cards>h4 {
    padding: 0 10px;
}

.match-card-details {
    text-align: center;
}

#hidden-btn {
    display: none;
}

footer {
    background-color: #044040;
    text-align: center;
    padding: 50px 0;
}

.goal {
    color: white;
    font-size: 1em;
}

hr {
    width: 80%;
    height: 1px;
    border-width: 0;
    background-color: rgba(124, 124, 124, 0.279);
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link>a {
    margin: 30px;
    text-decoration: none;
    color: rgb(112, 108, 108);
    font-size: small;
}

.footer-link>a:hover {
    background-color: #8C1F28;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.social-links>a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 20px;
}

.social-links>a:hover {
    font-size: 2.5em;
}

/* style for mobile screen */
@media screen and (max-width: 576px) {
    main {
        margin: 10px;
    }

    .top-banner {
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        text-align: center;
        padding: 30px;
    }

    .box>h1 {
        font-size: 35px;
    }

    .hidden-text {
        display: none;
    }

    .ellipsis {
        display: inline;
    }

    .match-info {
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .parent-div-1 {
        justify-content: center;
    }

    .fixed-size {
        border: none;
        background-color: white;
    }

    .nav-btn {
        border: 1px solid gray;
    }

    .highlighted-btn {
        border: 0;
    }

    .parent-div-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        margin-top: 30px;
    }

    .footer-link {
        flex-direction: column;
    }

    .social-links>a {
        margin: 10px;
    }
}

/* style for tablet screen */
@media screen and (min-width: 577px) and (max-width: 992px) {
    main {
        margin: 50px;
    }

    .box {
        padding: 30px;
    }

    .box>h1 {
        font-size: 25px;
    }

    .right-container>img {
        max-width: 100%;
        height: auto;
    }

    .match-info {
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .parent-div-1 {
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .fixed-size {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-btn {
        font-size: 0.7em;
        border: 1px solid gray;
        margin: 0 20px;
        padding: 15px 15px;
    }

    .highlighted-btn {
        border: 0;
        font-weight: 700;
        padding: 15px 30px;
        border-radius: 5px;
    }

    .parent-div-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .hidden-card {
        display: none;
    }

    #hidden-btn {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-link {
        flex-wrap: wrap;
    }
}